@use '../../scss/_lazyload.scss' as *;

.container__select-page {
  position: absolute;
  bottom: 0;

  @media (max-width: 500px) {
    bottom: 58px;
    font-size: 0.8em;
  }

  &[role = isNextPage] {
    right: 0;
  }

  button {
    display: flex;
    align-items: center;
  }
}

