.remove-button {
  cursor: pointer;
  position: absolute;
  background: transparent;
  font-size: 22px;
  right: 8px;
  top: 8px;
  transition: 0.2s;

  &:hover {
    color: rgb(215, 22, 32);
    transition: 0.2s;
  }
}